<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/appmultimediahibernate_v4</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.show_sql">false</property>
         <property name="format_sql">false</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="Modelo.Pelicula" />
        <mapping class="Modelo.Actor" />
        <mapping class="Modelo.Episodio" />
        <mapping class="Modelo.Genero" />
        <mapping class="Modelo.Lista_de_vistos" />
        <mapping class="Modelo.Serie" />
        <mapping class="Modelo.Temporada" />
        <mapping class="Modelo.Usuario" />
        
    </session-factory>
</hibernate-configuration>
